@font-face{
  src:url('../fonts/perry-mason_australianflyingcorpsstencil/AustralianFlyingCorpsStencil.ttf');
  font-family:afc;
}
@font-face{
  src:url('../fonts/x-template/X.Template-font-stencil.ttf');
  font-family:x;
}
@font-face{
  src:url('../fonts/black-ops-one/BlackOpsOne-Regular.ttf');
  font-family:y;
}
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  /* background-color:#d80000; */
  /* background-color:#b7090f; */
  background-color:#006B9A;
}
.item1{grid-area:header;}
.item2{grid-area:nav;}
.item3{grid-area:about;}
.item4{grid-area:works;}
.item5{grid-area:contact;}
.item6{grid-area:footer;}
.grid-container{
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'nav nav nav nav nav nav'
  'about about about about about about'
  'works works works works works works'
  'contact contact contact contact contact contact'
  'footer footer footer footer footer footer';
  grid-gap:0px;
  background-color:#006B9A;
  padding:0px;
  grid-template-rows:300px 100px 100vh 100vh 100vh 200px;
}
.item1{
  text-align:center;
  background-color:#006B9A;
}
.item2{

}
.item3{
  text-align:center;
}
.item4{
  text-align:center;
}
.item5{
  text-align:center;
}
.item6{
  text-align:center;
}
header{
  background-color:#b7090f;
  color:#fff;
}
.five-point-star{
  position:relative;
  display:block;
  margin:72px 0;
  height:0px;
  width:0px;
  border-right:120px solid transparent;
  border-bottom:90px solid white;
  border-left:120px solid transparent;
  -webkit-transform:rotate(37deg);
  -moz-transform:rotate(37deg);
  -ms-transform:rotate(37deg);
  -o-transform:rotate(37deg);
  transform:rotate(37deg);
}
.five-point-star:before{
  position:absolute;
  display:block;
  width:0;
  height:0;
  top:-56px;
  left:-72px;
  content:'';
  border-bottom:84px solid white;
  border-left:28px solid transparent;
  border-right:28px solid transparent;
  -webkit-transform:rotate(323deg);
  -moz-transform:rotate(323deg);
  -ms-transform:rotate(323deg);
  -o-transform:rotate(323deg);
  transform:rotate(323deg);
}
.five-point-star:after{
  position:absolute;
  display:block;
  width:0;
  height:0;
  top:0;
  left:-120px;
  content:'';
  border-right:120px solid transparent;
  border-bottom:90px solid white;
  border-left:120px solid transparent;
  -webkit-transform:rotate(286deg);
  -moz-transform:rotate(286deg);
  -ms-transform:rotate(286deg);
  -o-transform:rotate(286deg);
  transform:rotate(286deg);
}
.right{
  position:absolute;
  top:0;
  right:0;
}
h1{
  position:absolute;
  top:75px;
  left:210px;
  font-size:4.2em;
  font-family:afc;
  text-transform:uppercase;
  letter-spacing:8px;
}

/* red:#D80000 */
/* blue:#D9F2FC */
/* darkBlue:#006B9A */
/* redz:#b7090f */
